<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287442703707-f3sgo3d0g9gcjqos7h8vb4nbr9ufaoge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287442703707-f3sgo3d0g9gcjqos7h8vb4nbr9ufaoge</string>
	<key>API_KEY</key>
	<string>AIzaSyBR7q9TcWPHagGOb57WuQw7YvdWx6HRUss</string>
	<key>GCM_SENDER_ID</key>
	<string>287442703707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moran.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3d368</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3d368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287442703707:ios:0a1fae74495a6df0</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3d368.firebaseio.com</string>
</dict>
</plist>